<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <hr>

        <h4>
            <%= pluralize(@post.comments.length, ' commentaire')%>
        </h4>

        <%= render 'form_comment' %>

        <% if @post.comments.any? %>        
            <div class="list-group">

                <% @post.comments.order(created_at: :desc).each do |comment| %>
                    <div class="list-group-item">

                        <h4 class="list-group-item-heading small">
                            <%= comment.name %>
                            <small>
                                <%= comment.email %>
                                <span class="pull-right">
                                    <%= l(comment.created_at, format: '%d %B %Y - %kh%M') %>
                                </span>
                            </small>
                        </h5>

                        <p class="list-group-item-text"><%= comment.message %></p>

                    </div>
                <% end %>

            </div>
        <% end%>

    </div>
</div>