<% header_image image_url("background-landscape-wallpaper-1920x1080") %>
<% site_heading 'Le Blog de Kayyow', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit...' %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <% @posts.each do |post| %>
            <div class="post-preview">
                <%= link_to post do %>
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= post.description %>
                    </h3>
                <% end %>
                <p class="post-meta">Publié par <a href="<%= post.author.link %>"><%= post.author.name %></a> le <%= l(post.created_at, format: '%A %d %B %Y').capitalize %></p>
            </div>
            <hr>
        <% end %>
        
        <hr>
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#">Older Posts &rarr;</a>
            </li>
        </ul>
    </div>
</div>