<% header_image image_url("background-landscape-wallpaper-1920x1080-3.jpg") %>
<% site_heading 'Le Blog de Kayyow', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit...' %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <% @posts.each do |post| %>
            <div class="post-preview">
                <%= link_to post do %>
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= post.description %>
                    </h3>
                <% end %>
                <p class="post-meta">Publié par <a href="<%= post.author.link %>"><%= post.author.name %></a> le <%= l(post.created_at, format: '%A %d %B %Y').capitalize %></p>
            </div>
            <hr>
        <% end %>
        
        <!-- Pager -->
        <ul class="pager">
            <% if @page_number > 1 %>
                <li class="previous">
                    <%= link_to "&larr; Articles récents".html_safe, pager_path(@page_number - 1) %>
                </li>
            <% end %>
            <% if @page_number < @page_max %>
                <li class="next">
                    <%= link_to "Anciens articles &rarr;".html_safe, pager_path(@page_number + 1) %>
                </li>
            <% end %>
        </ul>
    </div>
</div>