<% header_image image_path("japan-wallpaper.jpg") %>
<% site_heading 'Le Blog de Kayyow', 'Un lieu où règne le bon goût' %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <% @posts.each do |post| %>
            <div class="post-preview">
                <%= link_to post do %>
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= post.description %>
                    </h3>
                <% end %>
                <p class="post-meta">Publié par <a href="<%= post.author.link %>"><%= post.author.name %></a> le <%= l(post.created_at, format: '%A %d %B %Y').capitalize %></p>
            </div>
            <hr>
        <% end %>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Man must explore, and this is exploration at its greatest
                </h2>
                <h3 class="post-subtitle">
                    Problems look mighty small from 150 miles up
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                </h2>
            </a>
            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
        </div>
        <hr>
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#">Older Posts &rarr;</a>
            </li>
        </ul>
    </div>
</div>